{% extends 'personal/newheader.html' %}

{% block content %}

{% for post in posts %}
    <div class="col-sm-4">
        <div class="product-image-wrapper">
            <div class="single-products">
                    <div class="productinfo text-center">
                        
                        <img class="group list-group-image" src="{{post.image.url}}" alt=""  width="304" height="236"/>

                        <h2>{{post.price}} SDG</h2>
                        <p>{{post.title}}</p>
                        <a href="/ealan/{{post.id}}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>details</a>
                    </div>

                    <div class="product-overlay">
                        <div class="overlay-content">
                            <h2>{{post.price}} SDG</h2>
                            <p>{{post.title}}</p>
                            <a href="/ealan/{{post.id}}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>details</a>
                        </div>
                    </div>
            </div>
        </div>
    </div>
{% endfor %}

{% endblock %}


{% block categories %}
	{% for category in categories %}
        <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title"><a href="/ealan/category/{{category.id}}">{{category.name}}</a></h4>
            </div>
        </div>
	{% endfor %}
{% endblock %}
