{% extends 'personal/newheader.html' %}

{% block content %}
    <div class="col-md-9">

		<div class="thumbnail">
                    <img id="magnify_image" src="{{urltoimage}}" class="small img-responsive"  alt="">
                    <div class="caption-full">
                        <h4 class="pull-right">{{form.price}} SDG</h4>
                        <h4><a href="#">{{form.title}}</a>
                        </h4>
                        <p>{{form.details}}</p>
                    </div>
                    
         </div>
    </div>





<!--
	<h3>Product Name : {{form.title}}</h3>
	<h6>realse date :  {{form.date}}</h6>
	<a><img id="magnify_image" src="{{urltoimage}}" class="img-thumbnail small" alt="Cinque Terre" width="304" height="236"></a>
	<h6>Price : {{form.price}} SDG</h6>
	<h6>the vender :  
    <a class="btn btn-info" href="/ealan/venderinfo/{{form.vender.id}}">{{form.vender}}</a>
	</h6>
	<h6>Details :  {{form.details}}</h6>

	<form class="form-inline" type="get" action="/ealan/addtochart/{{form.id}}">
	  <div class="form-group">
	    <label for="exampleInputName2">Quantity</label>
	    <input type="number" class="form-control" id="quantity" name="quantity" min="1" value ="1">
	  </div>
	  <button type="submit" class="btn btn-default">add to chart</button>
	</form>
-->
	<form class="form-inline" type="get" action="/ealan/addtochart/{{form.id}}">
	  <div class="form-group">
	    <label class="sr-only" for="exampleInputAmount">Quantity</label>
	    <div class="input-group">
	      <div class="input-group-addon">Quantity</div>
	      <input type="number" class="form-control" id="quantity" name="quantity" min="1" value ="1">
	      <div class="input-group-addon">item/s</div>
	    </div>
	  </div>
	  <button type="submit" class="btn btn-default">add to cart</button>
	</form>
	
{% endblock %}


{% block categories %}
	{% for category in categories %}
        <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title"><a href="/ealan/category/{{category.id}}">{{category.name}}</a></h4>
            </div>
        </div>
	{% endfor %}
{% endblock %}
