{% extends 'personal/newheader.html' %}

{% block content %}
    <h1>New Order</h1>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Request</button>
    </form>
{% endblock %}

{% block categories %}
	{% for category in categories %}
        <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title"><a href="/ealan/category/{{category.id}}">{{category.name}}</a></h4>
            </div>
        </div>
	{% endfor %}
{% endblock %}
