<!DOCTYPE html>
<html lang="en">

<head>
	<title>Harrison Kinsley</title>
	<meta charset="utf-8" />
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'personal/css/bootstrap.min.css' %}" type = "text/css"/>
	<link rel="stylesheet" href="{% static 'personal/css/mysite.css' %}" type = "text/css"/>
	<script type="text/javascript" src=" {% static 'personal/js/jquery-1.12.3.js' %}">
	
</script> 

<script type="text/javascript" src=" {% static 'personal/js/mysite.js' %}">
	
</script>

<script type="text/javascript" src=" {% static 'personal/js/jquery.loupe.min.js' %}">
	
</script>


	<meta name="viewport" content = "width=device-width, initial-scale=1.0">
	
	<style type="text/css">
		html,
		body {
		  height:100%
		}
	</style>
</head>

<body class="body" style="background-color:#f6f6f6">
	<div class="container-fluid" style="min-height:95%; ">
		<div class="row">
			  <div class="col-sm-2">
				  <br>
				  <center>
					<img src="{% static 'personal/img/profile.jpg' %}" class="responsive-img" style='max-height:100px;' alt="face">
				  </center>
			  </div>
			  <div class="col-sm-10">
				  <br>
				  <center>


					<nav class="navbar navbar-inverse">
					  <div class="container-fluid">
					    <div class="navbar-header">
					      <a class="navbar-brand" href="#">WebSiteName</a>
					    </div>
					    <ul class="nav navbar-nav">
					      <li class="active"><a href='/'>Home</a></li>
						  <li><a href='/ealan/'>ealan</a></li>
				          <li><a href='/contact/'>Contact</a></li>
					    </ul>
					  </div>
					</nav>
  


				  
				  </center>
				  the total chart is : {{ request.session.price}}
				  the total chart is : {{ request.session.items}}
				  <a href='/ealan/getchart'>get items</a>
				  <a href='/ealan/delchart'>delete items</a>

			  </div>
		</div><hr>

		<div class="row">
		  <div class="col-sm-2">
		  <br>

		  <br>
		   <!-- Great, til you resize. -->
			<!--<div class="well bs-sidebar affix" id="sidebar" style="background-color:#fff">-->
			<div class="well bs-sidebar " id="sidebar" style="background-color:#fff">
			  <!--ul class="nav nav-pills nav-stacked"  role="tablist"-->
			  <ul class="nav nav-list">

				<li><label class="tree-toggle nav-header">Categories</label>
				<ul class="nav nav-list tree">
				{% block categories %}
				
			    {% endblock %}
			    </ul>
			    </li>

			    <li><label class="tree-toggle nav-header">Venders</label>
			    <ul class="nav nav-list tree">
				{% block venders %}
				
			    {% endblock %}
			    </ul>
			    </li>

			  </ul>
			</div> <!--well bs-sidebar affix-->
		  </div> <!--col-sm-2-->
		  <div class="col-sm-10">
		  
			<div class='container-fluid'>
			<br><br>

			
    			

			   		{% block content %}
			   
			   		{% endblock %}
			   
				</div>
		  </div>
		</div> 
	</div>
	<footer>
		<div class="container-fluid" style='margin-left:15px'>
			<p><a href="#" target="blank">Contact</a> | <a href="#" target="blank">LinkedIn</a> | <a href="#" target="blank">Twitter</a> | <a href="#" target="blank">Google+</a></p>
		</div>
	</footer>	
	
</body>

</html>