<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Habir Import & Export Enterprises</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'personal/css/bootstrap.min.css' %}" type = "text/css"/>
    <link rel="stylesheet" href="{% static 'personal/css/main.css' %}" type = "text/css"/>
	<link rel="stylesheet" href="{% static 'personal/css/mysite.css' %}" type = "text/css"/>
	<link rel="stylesheet" href="{% static 'personal/css/shop-item.css' %}" type = "text/css"/>
</head><!--/head-->

<body>
	<header id="header"><!--header-->
		
		<div class="header_top"><!--header_top-->

			<div class="container">
				<div class="row">
					<div class="col-sm-8">
						<div class="contactinfo">
							<ul class="nav nav-pills">
							    <li></li>
								<li><a href="#"><i class="glyphicon glyphicon-earphone"></i> +249 11 48 55 555 | +249 91 22 26 929</a></li>
								<li><a href="mailto:alfadil.tabar@gmail.com?Subject=ask for help"><i class="glyphicon glyphicon-envelope"></i> dr.alsiddig4@gmail.com</a></li>
							</ul>
						</div>
					</div>

					
				</div>
			</div>
		</div><!--/header_top-->
		
		<div class="header-middle"><!--header-middle-->
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="logo pull-left">
							<a href="/ealan/"><img src="{% static 'personal/img/profile.png' %}" alt="" /></a>
							<!--p><a href="/ealan/"><i class="glyphicon glyphicon-home"></i>Home</a></p-->
						</div>
	
					</div>
					<div class="col-sm-8">
						<div class="shop-menu pull-right">
							<ul class="nav navbar-nav">
								<li><a href="/ealan/delchart"><i class="glyphicon glyphicon-trash"></i> Empty cart</a></li>

								<li><a href="/ealan/getchart"><i class="glyphicon glyphicon-shopping-cart"></i> Purchase {{ request.session.price }} SDG</a></li>

								
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-middle-->
	
		<div class="header-bottom"><!--header-bottom-->
			<div class="container">
				<div class="row">
					<div class="col-sm-9">

					<p ><a href="/ealan/" style="color:orange;"><i class="glyphicon glyphicon-home"></i>Home</a></p>
						<!--div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<div class="mainmenu pull-left">
							<ul class="nav navbar-nav collapse navbar-collapse">
							    <li></li>
								<li><a href="/ealan/">Home</a></li>
								<li><a href="/contact/">Contact</a></li>
							</ul>
						</div-->
					</div>

					<div class="col-sm-3">
						<!--div class="search_box pull-right">
							<input type="text" placeholder="Search"/>
						</div-->
						<form type="get" action="/ealan/search">
	                        <div id="custom-search-input pull-right">
	                            <div class="input-group col-md-12">
	                               
	                                    <input type="text" name = "search" class="form-control input-lg" placeholder="search" />
	                                    <span class="input-group-btn">
	                                        <button class="btn btn-info btn-lg" type="submit">
	                                            <i class="glyphicon glyphicon-search"></i>
	                                        </button>
	                                    </span>
	                                
	                            </div>
	                        </div>
                     	</form>
                     	
					</div>

				</div>
			</div>
		</div><!--/header-bottom-->
	</header><!--/header-->
	
	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="left-sidebar">
						<h2>Category</h2>
						<div class="panel-group category-products" id="accordian"><!--category-productsr-->

							{% block categories %}
				
			    			{% endblock %}


						</div><!--/category-products-->
						
					
					</div>
				</div>
				
				<div class="col-sm-9 padding-right">
					<div class="features_items"><!--features_items-->
						{% block content %}
			   
			   			{% endblock %}

						
					</div><!--features_items-->
					
					
				</div>
			</div>
		</div>

	</section>
	
	<footer id="footer"><!--Footer-->
		
		<div class="footer-bottom">
			<div class="container">
				<div class="row">
				<div class="col-md-12 col-lg-12 col-sm-6">
					<script src='https://maps.googleapis.com/maps/api/js?v=3.exp'></script><div style='overflow:hidden;height:300px;width:600px;'><div id='gmap_canvas' style='height:300px;width:600px;'></div><div><small><a href="http://embedgooglemaps.com">									embed google maps							</a></small></div><div><small><a href="http://www.proxysitereviews.com/">proxies</a></small></div><style>#gmap_canvas img{max-width:none!important;background:none!important}</style></div><script type='text/javascript'>function init_map(){var myOptions = {zoom:10,center:new google.maps.LatLng(15.5006544,32.55989939999995),mapTypeId: google.maps.MapTypeId.HYBRID};map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(15.5006544,32.55989939999995)});infowindow = new google.maps.InfoWindow({content:'<strong>Habir Import & Export Enterprises</strong><br>khartoum,sudan<br>'});google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);</script>
				</div>
				<div class="">

					<p class="pull-left">Copyright © 2016 E-SHOPPER Inc. All rights reserved.</p>
				</div>
				</div>
			</div>
		</div>
		
	</footer><!--/Footer-->

	<script type="text/javascript" src=" {% static 'personal/js/jquery-1.12.3.js' %}"></script> 

	<script type="text/javascript" src=" {% static 'personal/js/mysite.js' %}"></script>

	<script type="text/javascript" src=" {% static 'personal/js/jquery.loupe.min.js' %}"></script>

	<script type="text/javascript" src=" {% static 'personal/js/bootstrap.min.js' %}"></script> 

	<script type="text/javascript" src=" {% static 'personal/js/jquery.scrollUp.min.js' %}"></script>

	<a style="position: fixed; z-index: 2147483647;" href="#top" id="scrollUp" ><i class="glyphicon glyphicon-menu-up"></i></a>
	
</body>
</html>